version: "3.8"

services:
  qemula:
    image: docker_raw_codes-qemu:latest
    ports:
      - "4322:4322" # Docker/QEMU control
      - "5050:5050" # QEMU instrument - SPW
      - "5151:5151" # QEMU instrument - UART
      - "5054:5054" # QEMU instrument - UART
      - "1234:1234" # QEMU debug
    restart: unless-stopped

    command: ./venv/bin/python3 main.py

    deploy:
      resources:
        limits:
          cpus: "2"     # Limits the container to 2 CPU cores
          memory: "8G"   # Limits the container to 8 GB of memory
