version: '3.8'

services:
  qemu:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: docker_qemu_sparc
    tty: true
    stdin_open: true
    ports:
      - "4322:4322" # Controle do docker/QEMU
      - "5151:5151" # Instrumento QEMU - Vago
      - "5050:5050" # Instrumento QEMU - SPW
      - "5054:5054" # Instrumento QEMU - SPW
      - "1234:1234" # Debug QEMU
      
    command: ./venv/bin/python3 main.py

    deploy:
      resources:
        limits:
          cpus: "2"     # Limita o contêiner a 1 núcleo de CPU
          memory: "8G"   # Limita o contêiner a 512 MB de memória
